* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./../../img/bg-body.png) repeat-y left top;
}

.header {
  position: fixed;
  background: #fff;
  z-index: 10;
}

.header .container .header-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: solid 2px coral;
}

.header .container .header-top input {
  width: 350px;
  border-radius: 20px;
  border: solid 1px coral;
  outline: none;
}

.header .container .list-nav a {
  text-decoration: none;
  padding: 0 12px 0 12px;
  font-weight: 500;
}

.header .container .list-nav button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header .container h3 {
  color: coral;
}

.bodyPhim {
  padding-top: 200px;
}

.bodyPhim .danhSachPhim .text-danhSachPhim {
  position: relative;
}

.bodyPhim .danhSachPhim .text-danhSachPhim h3 {
  display: inline;
  padding: 10px;
  background: #ffc107;
}

.bodyPhim .danhSachPhim .button button {
  width: 200px;
  height: 60px;
}

.bodyPhim .danhSachPhim .listPhim {
  position: relative;
}

.bodyPhim .danhSachPhim .listPhim img {
  width: 100%;
  height: 350px;
}

.bodyPhim .danhSachPhim .listPhim .slick-slider .slick-arrow {
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: #fff;
  opacity: 30%;
  color: #fff;
}

.bodyPhim .danhSachPhim .listPhim .slick-slider .slick-prev {
  position: absolute;
  top: 30%;
  left: -20px;
}

.bodyPhim .danhSachPhim .listPhim .slick-slider .slick-next {
  position: absolute;
  top: 30%;
  right: -20px;
}

.bodyPhim .danhSachPhim .listPhim .fas {
  font-weight: 900;
  color: #fff;
  font-size: 50px;
  opacity: 30%;
  cursor: pointer;
  background: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
}

.bodyPhim .danhSachPhim .listPhim .next {
  position: absolute;
  top: 30%;
  right: -20px;
}

.bodyPhim .danhSachPhim .listPhim .previous {
  position: absolute;
  top: 30%;
  left: -20px;
}

.bodyPhim .danhSachPhim .listPhim .slide-phimDangChieu .phim-item {
  padding: 5px 15px;
}

.bodyPhim .danhSachPhim .title {
  height: 70px;
}

.bodyPhim .danhSachPhim .title h4 {
  line-height: 70px;
  cursor: pointer;
}

.footer {
  background: #272727;
  color: #fff;
  padding: 50px 0 10px 0;
}

.footer a {
  text-decoration: none;
  display: block;
  color: #fff;
}

.footer a:hover {
  color: coral;
}

.footer h4 {
  color: coral;
}
/*# sourceMappingURL=index.css.map */