*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background: url(./../../img/bg-body.png) repeat-y left top;
    
  }
  
  .header {
    position: fixed;
    background: #fff;
    z-index: 10;
    .container{
      .header-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: solid 2px coral;
        input {
          width: 350px;
          border-radius: 20px;
          border: solid 1px coral;
          outline: none;
        }
      }
      .list-nav {
        a {
          text-decoration: none;
          padding: 0 12px 0 12px;
          font-weight: 500;
        }
        button {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      h3 {
        color: coral;
      }
    }
  }
  
  .bodyPhim{
    padding-top: 200px;
    .danhSachPhim {
  
      .text-danhSachPhim{
        position: relative;
        h3 {
          display: inline;
          padding: 10px;
          background: #ffc107;
        }
        // ::after{
        //   content: "";
        //   background: #ffc107;
        //   position: absolute;
        //   top: 0;
        //   width: 35px;
        //   bottom: 0;
        //   left: 250px;
        //   z-index: 1;
        // }
          
      }
      
      .button {
        button {
          width: 200px;
          height: 60px;
        }
      }
      .listPhim {
        position: relative;
        img {
          width: 100%;
          height: 350px;
        }
        .slick-slider{
          .slick-arrow{
            z-index: 2;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            outline: none;
            border: none;
            background: #fff;
            opacity: 30%;
            color: #fff;
          }
          .slick-prev{
            position: absolute;
            top: 30%;
            left: -20px;
          }
          .slick-next{
            position: absolute;
            top: 30%;
            right: -20px;
          }
        }
        .fas{
          font-weight: 900;
          color: #fff;
          font-size: 50px;
          opacity: 30%;
          cursor: pointer;
          background: #000;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          border-radius: 50%;
          z-index: 1;
          // 
          
        }
        .next{
          position: absolute;
          top: 30%;
          right: -20px;
        }
        .previous{
          position: absolute;
          top: 30%;
          left: -20px;
        }
        .slide-phimDangChieu{
          .phim-item{
            padding: 5px 15px;
          }
        }
      }
      .title {
        height: 70px;
        h4 {
          line-height: 70px;
          cursor: pointer;
        }
      }
    }
  }
  
  .footer {
    background: #272727;
    color: #fff;
    padding: 50px 0 10px 0;
    a {
      text-decoration: none;
      display: block;
      color: #fff;
      &:hover{
        color: coral;
      }
    }
    h4 {
      color: coral;
    }
  }
  